//- Bootstrap 
link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

//- Font-Awesome
link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')

//- Page Specific CSS
link(href="/app/css/navbar.min.css", rel="stylesheet")

//- Application-Wide Styles
link(href="/app/css/app.min.css", rel="stylesheet")