//- JQuery
script(src="/bower_components/jquery/dist/jquery.min.js")

//- AngularJS
script(src="/bower_components/angular/angular.min.js")

//- Angular Modules
script(src="/bower_components/angular-route/angular-route.min.js")

//- App
script(src="/public/js/app.js")

//- Controllers
script(src="/public/js/controllers/IndexCtrl.js")
script(src="/public/js/controllers/NavCtrl.js")

//- Routes
script(src="/public/js/routes.js")

//- Services
script(src="/public/js/services/sampleService.js")

//- Directives
script(src="/public/js/directives/navbar.js")

//- Values
script(src="/public/js/values/months.js")

//- Packages
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

//- Library

//- Vendor

//- Filters
script(src="/public/js/filters/capitalizeFilter.js")